.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureImg {
  width: auto;     /* 自定义宽度 */
  height: 200px;     /* 自动等比例 */
  margin: 0 auto;   /* 居中 */
  display: block;
}