/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #ECEEFF;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.hero__title {
  color: #000000; 
}

.hero__subtitle {
  color: #000000;
}
.heroBanner h1,
.heroBanner .hero__title {
  color: #000 !important;
}

.heroBanner p,
.heroBanner .hero__subtitle {
  color: #000 !important;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
