/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4F58FE;
  --ifm-color-primary-dark: #3833B5;
  --ifm-color-primary-darker: #1C1876;
  --ifm-color-primary-darkest: #1C1876;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-button-background-color: #4F58FE;
  --ifm-button-color: #fff;
  --ifm-button-border-color: #00000000;
  --ifm-button-hover-background-color: #3833B5;
  --ifm-button-hover-color: #fff;
}

/* 覆盖 secondary button */
.button.button--secondary {
  background-color: #4F58FE !important;     /* 背景色 */
  color: #ffffff !important;                /* 文本颜色 */
  border-color: #4F58FE !important;         /* 边框 */
  border-width: 2px;
}

/* hover */
.button.button--secondary:hover {
  background-color: #3833B5 !important;
  color: #ffffff !important;
  border-color: #3833B5 !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3833B5;
  --ifm-color-primary-dark: #1C1876;
  --ifm-color-primary-darker: #1C1876;
  --ifm-color-primary-darkest: #1C1876;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
